@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Parkinsans:wght@300..800&family=Vazirmatn:wght@100..900&display=swap");

* {
    font-family: "Vazirmatn" !important;
    font-style: normal !important;
    font-optical-sizing: auto !important;
}

.vazir {
    font-family: "Vazirmatn", "sanFransico" !important;
    font-style: normal !important;
    font-optical-sizing: auto !important;
}

.wave-after,
.wave-before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.wave-before {
    background: rgba(255, 255, 255, 1);
    animation: animate 5s linear infinite;
}

.wave-after {
    border-radius: 37%;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -70%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -70%) rotate(360deg);
    }
}

.wall {
    /* background-image: url("../js/assets/images/st.jpg") !important; */

    --s: 9.5px; /* control the size*/
    --c1: #e4e0e1;
    --c2: #f1d4aff0;
    --g: conic-gradient(at 90% 40%, #0000 75%, var(--c1) 0);
    background:
        var(--g),
        var(--g) var(--s) var(--s) var(--c2);
    background-size: calc(2 * var(--s)) calc(2 * var(--s));
    border: none !important;
    border-radius: 0 !important;
    /* background-size: cover; */
    /* background-attachment: fixed; */
}

.stairs-middle {
    background-image: repeating-linear-gradient(
        /* d2d2d2, e0e0e0 */ #e0e0e0 0px,
        #e0e0e0 5px,
        #f5f7fe 5px,
        #f5f7fe 14px
    );

    height: 54% !important;
}

.stairs-middle::after {
    content: "";
    width: 25px;
    height: 108px;
    background-color: #f5f7fe;
}

.stairs-end {
    background-image: repeating-linear-gradient(
        #e0e0e0 0px,
        #e0e0e0 5px,
        #f5f7fe 5px,
        #f5f7fe 14px
    );
    height: 75% !important;
}

.grid-items {
    height: 78% !important;
}

.room-free {
    border: 2.4px solid #578e7e !important;
    /* background-color: aqua !important; */
}

.room-present {
    border: 2.4px solid #872341 !important;
    /* background-color: aqua !important; */
}

.grid-container {
    height: 180px !important;
}

.stairs-end-2 {
    background-image: repeating-linear-gradient(
        #e0e0e0 0px,
        #e0e0e0 5px,
        #f5f7fe 5px,
        #f5f7fe 14px
    );
    height: 62% !important;
}

.presentation-text {
    font-weight: bold;
}
/*
.transform-origin {
    font-family: "Vazirmatn", serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
}
*/

.text-floor-down {
    margin-top: 12px !important;
}

.text-floor-up {
    margin-bottom: 12px !important;
}

.floor-number {
    font-family: "Vazirmatn", "sanFransico" !important;
    font-style: normal !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
}

.artka-notka-text {
    font-family: "Vazirmatn", "sanFransico" !important;
    font-style: normal !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
}

.floor-text {
    color: #919293 !important;
    font-family: "Vazirmatn", "sanFransico" !important;
    font-style: normal !important;
    font-optical-sizing: auto !important;
    font-weight: 300 !important;
}

.divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.divider {
    height: 4px;
    width: 100%;
    border-radius: 50px;
    background-color: #e7e4e4;
}
.floor-2 {
    margin: 3rem;
    position: absolute;
    /* transform: rotate(300deg); */
    /* -webkit-transform: rotate(300deg); */
    /* color: rgb(187, 182, 182); */
    top: 37%;
    /* bottom: 0; */
    left: 52.7%;
    /* width: 100%; */
    z-index: 1;
    /* width: 100%; */
    /* height: 100%; */
    font-size: larger;
    transform: translate(55.5%, 35.5%);
}

.floor-3 {
    margin: 3rem;
    position: absolute;
    /* transform: rotate(300deg); */
    /* -webkit-transform: rotate(300deg); */
    /* color: rgb(187, 182, 182); */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100%; */
    z-index: 1;
    /* width: 100%; */
    /* height: 100%; */
    font-size: larger;
    transform: translate(55.5%, 39%);
}

.stairs-text {
    position: absolute;
    bottom: 0;
    margin: auto;
}

.circle-project {
    /* width: 30px; */
    /* height: 30px; */
    border-radius: 50%;
    /* background-color: #7d2387; */
}

.circle-project-right {
    left: 15px;
}

.circle-project-left {
    right: 15px;
}
/*
.checkbox {
    position: relative;
    overflow: hidden;
}

.checkbox__input {
    position: absolute;
    top: -100px;
    left: -100px;
}

.checkbox__inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #626262;
    background: transparent no-repeat center;
    border-color: #52c6c4;
    background-color: #52c6c4;
    background: image 2px;
    background-size: 14px 10px;
}

.checkbox__input:checked + .checkbox__inner {
    border-color: #52c6c4;
    background-color: #52c6c4;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='10px' viewBox='0 0 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 59.1 (86144) - https://sketch.com --%3E%3Ctitle%3Echeck%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='ios_modification' transform='translate(-27.000000, -191.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group-Copy' transform='translate(0.000000, 164.000000)'%3E%3Cg id='ic-check-18px' transform='translate(25.000000, 23.000000)'%3E%3Cpolygon id='check' points='6.61 11.89 3.5 8.78 2.44 9.84 6.61 14 15.56 5.05 14.5 4'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 14px 10px;
} */
